.App {
  text-align: center;
  margin: 3px 5px;
}

.postDetailButton {
  color: black;
  background: transparent;
  border: none;
}

.upArrow {
  color: #ff165d;
}

.downArrow {
  color: #3ec1d3;
}

.navBar {
  margin-bottom: 30px;
}

.sortButtons {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 30px;
}

.listGroup {
  display: flex;
}

.votesForPost {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.postBrief {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
}

.center {
  justify-content: center;
}

.space {
  justify-content: space-between;
}

.grow {
  flex-grow: 1;
}

.listDetail {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.marginAfterName {
  margin-right: 20px;
}

.votesGroup {
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottomGroup {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addComment {
  display: flex;
  margin: 50px 0;
}

.createPostForm {
  margin: 0 50px;
  padding: 20px;
  border-radius: 10px;
  border-style: solid;
}

.inputForm {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 20px;
}

footer {
  display: flex;
  justify-content: center;
  height: 100px;
  margin: 40px;
}

.footerP {
  font-size: 1rem;
  color: #28527a;
  padding-top: 20px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
